<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <canvas id="myChart"></canvas>
      </div>    </div>
    <div class="col-sm">
      <div>
        <canvas id="canvas"></canvas>
      </div>    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        <canvas id="doughnut"></canvas>
      </div>
    </div>
    <div class="col-sm">
      <div>
        <canvas id="pie"></canvas>
      </div>
    </div>
  </div>
</div>

<div>
  <canvas id="bubble"></canvas>
</div>
<div>
  <canvas id="salechart"></canvas>
</div>











